
html{ scroll-behavior: smooth;}
body{ background-image: url(../Media/images/HallOfFameCover.jpg);
    background-size: contain;
    background-repeat: repeat;
width: 95%; height: 100%;

    }

  nav ul {display: flex; flex-wrap: wrap; height: 25px;position: relative; right: 60px; }
 ul li {display: inline-block; text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 18px;}

 .navliRed{flex-basis: 23%; background: rgba(255, 0, 0, 0.650);color: white;transition: 1s;    box-shadow: 2px 2px 13px 6px black;
 }
 .navliBlue{flex-basis: 23%; background: rgba(0, 0, 255, 0.650);color: white;transition: 1s;    box-shadow: 2px 2px 13px 6px black;
 }
 .navliBlue a,.navliRed a {color: white; text-decoration: none;} 
 .navliRed:hover,.navliBlue:hover {border:  solid black 3px ;transform: scale(1.1); text-decoration: underline;}

 .HOFNAVli1{flex-basis: 23%; background: red;color: white;transition: 1s; }
 .HOFNAVli2{flex-basis: 23%; background: rgb(2, 2, 123);;color: white;transition: 1s;}
 .HOFNAVli1 a, .HOFNAVli2 a{color: white; text-decoration: none;}
 .HOFNAVli1:hover,.HOFNAVli2:hover{border:  solid black 3px ;transform: scale(1.1); text-decoration: underline;}

#HallOfFameSection{ width: 100%; height: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;position: relative; right: 25px; }

.GameSummary1{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.64); display: flex; flex-direction: column; flex-wrap: wrap;align-items: center;
  margin-bottom: 25px; border: black 10px solid; }
.FirstH1{background-color: red; text-align: center; font-size: 35px;transition: 1s ease-in-out; height: 37px;}
#PutaMadrid:hover{height: 100%;}
.BarcaScore1{color: rgb(2, 2, 123);}
.ScoreMark1{color: white;}
.OpponnentScore1{color: white;}
.GameSummary1 p{font-size: 22px; font-weight: bolder;width: 70%;background-color: rgb(2, 2, 123);; text-align: center; color: white;} 

.GameSummary2{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.64);display: flex; flex-direction: column; flex-wrap: wrap;align-items: center; margin-bottom: 25px;border: black solid 10px;}
 .SecondH1 {background-color: rgb(2, 2, 123);font-size: 35px;}
 .BarcaScore2{color: red;}
 .ScoreMark2{color: white;}
 .OpponnentScore2{color: white;}
.GameSummary2 p{font-size: 22px; font-weight: bolder ; width: 70%; background-color: red; text-align: center;}





#FotterNav1 ul {display: flex; flex-direction: row; flex-wrap: wrap;
  justify-content: space-around;background-color: red; height: 60px;}
  #FotterNav1{filter: saturate(4);}
  #FotterNav2{position: relative; bottom: 13.5px;filter: saturate(4);}
  #FotterNav2 ul{display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: space-around; background-color: blue; height: 60px; align-items: center;}
  
        .Bottomnav1{flex-basis: 23%;font-weight: bolder; border-right: solid black 2px;border-left: solid black 2px; transition: 1s;}
  
        .Bottomnav2{flex-basis: 30%;font-weight: bolder; border-right: solid black 2px; border-left: solid black 2px; transition: 1s;}
   
        .Bottomnav2 a{color: white;}
            
        .Footer1Img{position: relative; top: 11px;transition: 1s;}
        .Footer2Img{position: relative; top: 10px;transition: 1s;}
       
        .Bottomnav1:hover{transform: scale(1.1);}
        .Bottomnav2:hover{transform: scale(1.1);}


        @media screen and (min-width:0px) and (max-width:413px){
          
 nav ul {width: 121%; position: relative; right: -20px;}
 #MainNav{position: relative; right: 15px;}
 #HallOfFameSection{width: 100%; position: relative; right: 50px;}
 .GameSummary1{width: 100%;height: 100%;}          
 .GameSummary2{width: 100%; height: 100%;}
 .GameSummary1 img {width: 85%;}
 .GameSummary2 img {width: 85%;}


 #FotterNav1 {filter: saturate(2);}
 #FotterNav2 {filter: saturate(2);}
 #FotterNav1 span{display: none;}
 #FotterNav2 span{display: none;}

        }

      


        @media screen  and (min-width:414px) and (max-width:768px){
          
          #MainNav nav ul, #HallOfFameNav nav ul {width: 100%;}
          #HallOfFameSection{width: 100%; position: relative; right: 50px;}
          .GameSummary1{width: 100%;height: 100%;}          
          .GameSummary2{width: 100%; height: 100%;}
          .GameSummary1 img {width: 85%;}
          .GameSummary2 img {width: 85%;}
         
          #FotterNav1 {filter: saturate(2); position: relative; left:56px; width: 111%;}
          #FotterNav2 {filter: saturate(2); position: relative; left:56px; width: 111%;}
          #FotterNav1 span{display: none;}
          #FotterNav2 span{display: none;}
        
        }


        @media screen and (min-width:769px) and (max-width:1025px) {
          
          #MainNav nav ul, #HallOfFameNav nav ul {width: 50%;}
          #HallOfFameSection{width: 100%; position: relative; right: 40px;}
          .GameSummary1{width: 100%;height: 100%;}          
          .GameSummary2{width: 100%; height: 100%;}
          .GameSummary1 img {width: 85%;}
          .GameSummary2 img {width: 85%;}
         
          #FotterNav1 {filter: saturate(2); position: relative; width: 111%;left: 50px;}
          #FotterNav2 {filter: saturate(2); position: relative;width: 111%; left: 50px;}
          #FotterNav1 span{font-weight: bolder; border-bottom: black solid 5px;}
          #FotterNav2 span{font-weight: bolder; border-bottom: black solid 5px;}          

        
        }