
html{ scroll-behavior: smooth;}
body{ background-image: url(../Media/images/HallOfFameCover.jpg);
    background-size: contain;
    background-repeat: repeat;
width: 95%; height: 100%;

    }

  nav ul {display: flex; flex-wrap: wrap; height: 25px;position: relative; right: 60px; }
 ul li {display: inline-block; text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 18px;}

 .navliRed{flex-basis: 23%; background: red;color: white;transition: 1s; box-shadow: 2px 2px 13px 6px black;
 }
 .navliBlue{flex-basis: 23%; background: blue;color: white;transition: 1s; box-shadow: 2px 0px 13px 6px black;
 }
 .navliBlue a,.navliRed a {color: white; text-decoration: none;} 
 .navliRed:hover,.navliBlue:hover {transform: scale(1.1); text-decoration: underline;}

 .HOFNAVli1{flex-basis: 23%; background: blue;color: white;transition: 1s;  box-shadow: 2px 2px 13px 6px black;}
 .HOFNAVli2{flex-basis: 23%; background: red;color: white;transition: 1s; box-shadow: 2px 2px 13px 6px black;}
 .HOFNAVli1 a, .HOFNAVli2 a{color: white; text-decoration: none;}
 .HOFNAVli1:hover,.HOFNAVli2:hover{transform: scale(1.1); text-decoration: underline;}

#HallOfFameSection{ width: 100%; height: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;position: relative; right: 25px; }

.GameSummary1{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.64); display: flex; flex-direction: column; flex-wrap: wrap;align-items: center;
  margin-bottom: 25px;  }
.FirstH1{background:linear-gradient(to left,blue,red); text-align: center; font-size: 35px;transition: 1s ease-in-out; height: 37px;}
.BarcaScore1{color: rgb(2, 2, 123);}
.ScoreMark1{color: white;}
.OpponnentScore1{color: white;}
.GameSummary1 p{font-size: 22px; font-weight: bolder;width: 70%;background: linear-gradient(to right,blue,red); text-align: center; color: white; margin-bottom: -2px;} 

.GameSummary2{width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.64);display: flex; flex-direction: column; flex-wrap: wrap;align-items: center; margin-bottom: 25px;}
 .SecondH1 {background:linear-gradient(to left,red,blue);font-size: 35px;}
 .BarcaScore2{color: red;}
 .ScoreMark2{color: white;}
 .OpponnentScore2{color: white;}
.GameSummary2 p{font-size: 22px; font-weight: bolder ; width: 70%; background:linear-gradient(to right,red,blue); text-align: center;margin-bottom: -2px;color: white;}





#FotterNav1 ul {display: flex; flex-direction: row; flex-wrap: wrap;
  justify-content: space-around;background-color: grey; height: 60px;}
  #FotterNav1{filter: saturate(4); position: relative; left: 25px;}
  #FotterNav2{position: relative; bottom: 13.5px;filter: saturate(4);left: 25px;}
  #FotterNav2 ul{display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: space-around; background-color: grey; height: 60px; align-items: center;}
  
     
        .Bottomnav1{flex-basis: 23%;font-weight: bolder; border-radius: 15px ;border-left: 3.5px solid red ; transition: 1s; border-right: solid blue 3.5px; border-top: 3.5px solid red; border-bottom:  solid blue 3.5px;}
        
        .Bottomnav2{flex-basis: 30%;font-weight: bolder;  border-radius: 15px ;border-left: 5px solid blue; transition: 1s; border-right: solid red 5px; border-top: 5px solid blue; border-bottom:  solid red 5px;}
   
            
        .Footer1Img{position: relative; top: 11px;transition: 1s;}
        .Footer2Img{position: relative; top: 10px;transition: 1s;}
       
        .Bottomnav1:hover{transform: scale(1.1);}
        .Bottomnav2:hover{transform: scale(1.1);}


        @media screen and (min-width:0px) and (max-width:426px){
          
 nav ul {width: 100%; position: relative; right: -5px; }
 header{display: flex; flex-direction: column; flex-shrink: 2; }
 #HallOfFameNav li{font-size: 90%;}
 #MainNav li{position: relative;}
 #HallOfFameSection{width: 100%; }
 .GameSummary1{width: 100%;height: 100%;}          
 .GameSummary2{width: 100%; height: 100%;}
 .GameSummary1 img {width: 85%;}
 .GameSummary2 img {width: 85%;}


 #FotterNav1 {filter: saturate(2);}
 #FotterNav2 {filter: saturate(2);}
 #FotterNav1 span{display: none;}
 #FotterNav2 span{display: none;}

        }

      


        @media screen  and (min-width:426px) and (max-width:768px){
          
          #MainNav nav ul, #HallOfFameNav nav ul {width: 100%;}
          #HallOfFameSection{width: 100%; position: relative; right: 50px;}
          .GameSummary1{width: 100%;height: 100%;}          
          .GameSummary2{width: 100%; height: 100%;}
          .GameSummary1 img {width: 85%;}
          .GameSummary2 img {width: 85%;}
         
          #FotterNav1 {filter: saturate(2); position: relative; left:56px; width: 111%;}
          #FotterNav2 {filter: saturate(2); position: relative; left:56px; width: 111%;}
          #FotterNav1 span{display: none;}
          #FotterNav2 span{display: none;}
        
        }


        @media screen and (min-width:769px) and (max-width:1025px) {
          
          #MainNav nav ul, #HallOfFameNav nav ul {width: 50%;}
          #HallOfFameSection{width: 100%; position: relative; right: 40px;}
          .GameSummary1{width: 100%;height: 100%;}          
          .GameSummary2{width: 100%; height: 100%;}
          .GameSummary1 img {width: 85%;}
          .GameSummary2 img {width: 85%;}
         
          #FotterNav1 {filter: saturate(2); position: relative; width: 111%;left: 50px;}
          #FotterNav2 {filter: saturate(2); position: relative;width: 111%; left: 50px;}
          #FotterNav1 span{font-weight: bolder; border-bottom: black solid 5px;}
          #FotterNav2 span{font-weight: bolder; border-bottom: black solid 5px;}          

        
        }